extends layout

block content
	div(itemtype="http://schema.org/Article", itemscope).news-article.box
		h2(itemprop="headline")= title.replace("ニュース: ","")
		meta(itemprop="dateCreated", content=created)
		meta(itemprop="datePublished", content=created)
		meta(itemprop="dateModified", content=modified)
		meta(itemprop="inLanguage", content="ja")
		p.article-info #{created} - #{author}
		div(itemprop="articleBody").article-content !{body}
