extends layout

block content
	div#arch-downloads.box
		h2 Arch Linux をダウンロード
		h3 リリース情報
		p このイメージを ISO ファイルとしてマウントして CD に書き込んだり、`dd` などのユーティリティを使って USB スティックに直接書き込むことができます。このイメージは新しくインストールするためのものです。既存の Arch Linux 環境は `pacman -Syu` を使うことでいつでも更新できます。
		ul
			li <strong>最新リリース:</strong> !{isoinfo.date}
			li <strong>含まれているカーネル:</strong> !{isoinfo.kernel}
			li <strong>ISO 容量:</strong> !{isoinfo.size}
			li
				a(href="https://wiki.archlinuxjp.org/index.php/%E3%82%A4%E3%83%B3%E3%82%B9%E3%83%88%E3%83%BC%E3%83%AB%E3%82%AC%E3%82%A4%E3%83%89") インストールガイド
			li
				strong 資料:
			ul
				li
					a(href="https://bugs.archlinux.org/index.php?project=6", title="Arch Linux Bugtracker:Release Engineering") バグトラッカー
				li
					a(href="https://mailman.archlinux.org/mailman/listinfo/arch-releng", title="Arch Linux リリースエンジニアリングメーリングリスト") メーリングリスト
		h3 既存の Arch ユーザー
		p 既に Arch を使っている場合は、既存のシステムをアップデートするのに新しい ISO をダウンロードする必要はありません。代わりに<a href="https://www.archlinux.org/mirrorlist/">最新のミラーリスト</a>を見て下さい。
		h3 HTTP で直接ダウンロード (推奨)
		p 以下のミラーサイトから HTTP でインストールイメージをダウンロードすることができます。イメージと同じディレクトリにある md5sums.txt や sha1sums.txt ファイルにあるチェックサムがダウンロードイメージと一致することを確認してください。
		h4 チェックサム
		p 最新リリースのファイル整合性チェックサムは次のとおりです:
		ul
			li
				a(href="https://www.archlinux.org/iso/" + isoinfo.date + "/archlinux-" + isoinfo.date + "-dual.iso.sig", title="PGP 署名") PGP 署名
			li <strong>MD5:</strong> !{isoinfo.md5hash}
			li <strong>SHA1:</strong> !{isoinfo.sha1hash}
		div#download-mirrors
			h5 <img src="/images/japan.png"> 日本のサーバー
			ul
				li
					a(href="http://ftp.jaist.ac.jp/pub/Linux/ArchLinux/iso/" + isoinfo.date + "/", title="http://ftp.jaist.ac.jp/pub/Linux/ArchLinux/ からダウンロード") jaist.ac.jp
				li
					a(href="http://ftp.tsukuba.wide.ad.jp/Linux/archlinux/iso/" + isoinfo.date + "/", title="http://ftp.tsukuba.wide.ad.jp/Linux/archlinux/ からダウンロード") ftp.tsukuba.wide.ad.jp
		p Arch Linux の公式ミラーになりたい場合は<a href="https://wiki.archlinux.org/index.php/DeveloperWiki:NewMirrors">こちら</a>に記載されている指示に従って下さい。
		h3 BitTorrent でダウンロード
		p 可能なかぎり、ダウンロードが完了した後もクライアントは開き続けて下さい。他の人へシードバックすることができます。<em>ダウンロード速度を最大限出すためにウェブシードに対応しているクライアントが推奨されます。</em>
		ul
			li <a href="!{isoinfo.magnet}" title="マグネットリンク">!{isoinfo.date} のマグネットリンク <img width="12" height="12" src="https://www.archlinuxjp.org/img/magnet.png" alt=""/></a>
			li <a href="https://www.archlinux.org/releng/releases/!{isoinfo.date}/torrent/" title="torrent のダウンロード">!{isoinfo.date} の Torrent <img width="12" height="12" src="https://www.archlinuxjp.org/img/download.png" alt=""/></a>
		h3 Netboot
		p 有線接続が使える場合は、ネットワークを介して直接、最新リリースを起動することができます。
		ul
			li
				a(href="https://releng.archlinux.org/pxeboot/", title="Arch Linux Netboot Live System") Arch Linux Netboot
