extends layout

block content
	div#news-article-list.box
		h2 Arch Linux ニュースアーカイブ
		div.pagination
			p 記事数: !{news[0].count}。ページ: 1/1。
			p.news-nav
				span 1
		table#article-list.results
			thead
				tr
					th 公開日
					th 題名
					th 著者
			tbody
				- var odd = false; news.forEach(function(article){ odd = odd ? false : true;
				tr(class=odd?"odd":"even")
					td= article.created
					td.wrap
						a(href="/news/" + article.url + "/", title ="見る: " + article.headline)= article.headline
					td= article.author
				- })
		div.pagination
			p 記事数: !{news[0].count}。ページ: 1/1。
			p.news-nav
				span 1
