extends layout

block content
	div#pkgdetails.box
		h2 !{package["pkgname"]} !{package["pkgver"]}-!{package["pkgrel"]}
		div#detailslinks.listing
			div#actionlist
				h4 パッケージアクション
				ul.small
					- var repo = (package["repo"] == "community" || package["repo"] == "community-testing") ? "community" : "packages";
					li <a href="https://projects.archlinux.org/svntogit/!{repo}.git/tree/trunk?h=packages/#{package["pkgname"]}" title="#{package["pkgname"]} のソースファイル">ソースファイル</a> / <a href="https://projects.archlinux.org/svntogit/!{repo}.git/log/trunk?h=packages/#{package["pkgname"]}" title="#{package["pkgname"]} の変更履歴">変更履歴</a>
					li
						a(href="https://wiki.archlinuxjp.org/index.php?title=%E7%89%B9%E5%88%A5%3A%E6%A4%9C%E7%B4%A2&search=" + package["pkgname"], title=package["pkgname"] + " について wiki で検索") ArchWiki を検索
					li <a href="https://www.archlinux.org/packages/#{package["repo"]}/#{package["arch"]}/#{package["pkgname"]}/flag/" title="#{package["pkgname"]} の out-of-date フラグを立てる">パッケージの Out-of-Date フラグを立てる</a> <a href="/static/flaghelp.html" title="パッケージのフラグ立てに関するヘルプ" onclick="return !window.open('/static/flaghelp.html','FlagHelp','height=350,width=450,location=no,scrollbars=yes,menubars=no,toolbars=no,resizable=no');">(?)</a>
					li
						a(href="https://mirror.archlinuxjp.org/" + package["repo"] + "/os/" + package["arch"] + "/" + package["pkgname"] + "-" + package["pkgver"] + "-" + package["pkgrel"] + "-" + package["arch"] + ".pkg.tar.xz", rel="nofollow", title="ミラーから " + package["pkgname"] + " をダウンロード") ミラーからダウンロード
		div(itemscope, itemtype="http://schema.org/SoftwareApplication")
			meta(itemprop="name", content=package["pkgname"])
			meta(itemprop="version", content=package["pkgver"] + "-" + package["pkgrel"])
			meta(itemprop="softwareVersion", content=package["pkgver"] + "-" + package["pkgrel"])
			meta(itemprop="fileSize", content=package["csize"])
			meta(itemprop="dateCreated", content=package["last_update"].split(" ")[0])
			meta(itemprop="datePublished", content=package["last_update"].split(" ")[0])
			meta(itemprop="operatingSystem", content="Arch Linux")
			table#pkginfo
				tr
					th アーキテクチャ:
					td
						a(href="/packages/?arch=" + package["arch"], title=package["arch"] + " アーキテクチャのパッケージ")= package["arch"]
				tr
					th リポジトリ:
					td
						a(href="/packages/?repo=" + package["repo"], title=package["repo"] + " リポジトリ")= package["repo"]
				- if(package["pkgbase"] != ""){
				tr
					th ベースパッケージ:
					td= package["pkgbase"]
				- }
				tr
					th 説明:
					td(itemprop="description")#pkgdesc.wrap= package["pkgdesc"]
				tr
					th 上流 URL:
					td
						a(itemprop="url", href=package["url"], title=package["pkgname"] + " のウェブサイト")= package["url"]
				tr
					th ライセンス:
					td.wrap= package["license"].replace(/ /g,", ")
				- if(package["pkggrp"] != ""){
				tr
					th グループ:
					- var pkggrp = package["pkggrp"].split(" "); for(var i = 0; i < pkggrp.length; i++){ pkggrp[i] = "<a href=\"/groups/" + ((package["arch"] == "any") ? "x86_64" : package["arch"]) + "/" + pkggrp[i] + "/\" title=\"" + pkggrp[i] + " グループのパッケージ\">" + pkggrp[i] + "</a>"; }
					td!= pkggrp.join(", ")
				- } if(package["provides"] != ""){ var provides = "<span class=\"related\">" + package["provides"].replace(/ /g, "</span>, <span class=\"related\">") + "</span>";
				tr
					th 提供:
					td.wrap.relatedto!= provides
				- } if(package["replaces"] != ""){ var replaces = "<span class=\"related\">" + package["replaces"].replace(/ /g, "</span>, <span class=\"related\">") + "</span>";
				tr
					th 置換パッケージ:
					td.wrap.relatedto!= replaces
				- } if(package["conflicts"] != ""){ var conflicts = "<span class=\"related\">" + package["conflicts"].replace(/ /g, "</span>, <span class=\"related\">") + "</span>";
				tr
					th 衝突パッケージ:
					td.wrap.relatedto!= conflicts
				- }
				tr
					th パッケージ容量:
					- if(package["csize"] > 1000000){ var csize = (package["csize"] * 0.000001).toFixed(1) + " MB"; }else if(package["csize"] > 1000){ var csize = (package["csize"] * 0.001).toFixed(1) + " KB"; }else{ var csize = package["csize"] + " B"; }
					td= csize
				tr
					th インストール容量:
					- if(package["isize"] > 1000000){ var isize = (package["isize"] * 0.000001).toFixed(1) + " MB"; }else if(package["isize"] > 1000){ var isize = (package["isize"] * 0.001).toFixed(1) + " KB"; }else{ var isize = package["isize"] + " B"; }
					td= isize
				tr
					th パッケージ作成者:
					td= package["packager"].split(" <")[0]
				tr
					th 最終更新:
					td !{package["last_update"]} JST
		div#metadata
			div#pkgdeps.listing
				- if(package["depends"] != ""){ var deps = package["depends"].split(" "); }else{ var deps = new Array(); }
				- if(package["optdeps"] != ""){ var optdeps = package["optdeps"].split("<>"); }else{ var optdeps = new Array(); }
				- if(package["makedeps"] != ""){ var makedeps = package["makedeps"].split(" "); }else{ var makedeps = new Array(); }
				- var totaldeps = deps.length + optdeps.length + makedeps.length;
				h3(title=package["pkgname"] + " は以下のパッケージに依存しています") 依存パッケージ (!{totaldeps})
				ul#pkgdepslist
					- for(var i = 0; i < deps.length; i++){
					li
						- var depends = deps[i].split(/(>|<|=)/);
						a(href="/packages/?name=" + depends[0])= depends[0]
						- if(depends.length > 1){
						span= deps[i].replace(depends[0], "")
						- }
					- } for(var i = 0; i < optdeps.length; i++){
					li
						- var depends = optdeps[i].split(/(>|<|=)/);
						a(href="/packages/?name=" + depends[0].split(":")[0])= depends[0].split(":")[0]
						- if(depends.length > 1){
						span= optdeps[i].replace(depends[0], "")
						- }
						span.opt-dep  (任意)
					- } for(var i = 0; i < makedeps.length; i++){
					li
						- var depends = makedeps[i].split(/(>|<|=)/);
						a(href="/packages/?name=" + depends[0])= depends[0]
						- if(depends.length > 1){
						span= makedeps[i].replace(depends[0], "")
						- }
						span.make-dep  (ビルド)
					- }
			div#pkgreqs.listing
				- if(package["requires"] != undefined){ var reqs = package["requires"].split(" "); }else{ var reqs = new Array(); }
				- if(package["optreqs"] != undefined){ var optreqs = package["optreqs"].split(" "); }else{ var optreqs = new Array(); }
				- if(package["makereqs"] != undefined){ var makereqs = package["makereqs"].split(" "); }else{ var makereqs = new Array(); }
				- var totalreqs = reqs.length + optreqs.length + makereqs.length;
				h3(title="以下のパッケージは " + package["pkgname"] + " を必要としています") !{package["pkgname"]} を必要とするパッケージ (!{totalreqs})
				ul#pkgreqslist
					- for(var i = 0; i < reqs.length; i++){
					li
						a(href="/packages/?name=" + reqs[i])= reqs[i]
					- } for(var i = 0; i < optreqs.length; i++){
					li
						a(href="/packages/?name=" + optreqs[i])= optreqs[i]
						span.opt-req  (任意)
					- } for(var i = 0; i < makereqs.length; i++){
					li
						a(href="/packages/?name=" + makereqs[i])= makereqs[i]
						span.make-req  (ビルド)
					- }
			div#pkgfiles.listing
				h3(title="このパッケージに含まれている全てのファイルのリスト") パッケージの中身
				div#pkgfilelist
					p
						a(href="https://www.archlinux.org/packages/" + package["repo"] + "/" + package["arch"] + "/" + package["pkgname"] + "/files/", title="クリックして " + package["pkgname"] + " の全てのファイルのリストを見る") !{package["pkgname"]} のファイルリストを表示
